<body id="login-page">
    <main>
        <div class="container">
            <h1 class="mt-5 login-title">Log in</h1>
            <div class="row justify-content-start mt-5" id="login-form">
                <div class="col-lg-6 py-5 px-5" id="login-col">
                    <!--- LOGIN FORM --->
                    <%= render 'sessions/form' %>
                </div>
            </div>
        </div>
    <main>
</body>