.chatroom-page {
  #sidebar-nav {
    width: 6vw;
    background: #1e2023;

    .home-icon {
      font-size: 70px;
      color: var(--lavender);
      background: rgba(255, 255, 255, 0.07);
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 50%;
      transition: 0.3s;

      &:hover {
        transform: scale(0.9);
        border-radius: 30%;
        background: var(--lavender);
        color: white;
      }
    }

    .chat-imgs {
      padding-left: 0px;
      border-top: 1px solid rgba(255, 255, 255, 0.2);

      li {
        display: inline-flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }

    .avatar-sm:hover {
      border-radius: 30%;
    }

    .plus-icon {
      font-size: 55px;
      color: var(--green);
      font-weight: 100;
      background: rgba(255, 255, 255, 0.07);
      padding: 16px;
      border-radius: 50%;
      width: 53px;
      transition: 0.3s;

      &:hover {
        background: var(--green);
        color: white;
        border-radius: 30%;
      }
    }
  }

  #main-content-col {
    height: 93vh;
    background: #36393f;
    padding: 40px 20px;
    width: 77vw;
  }

  #sidebar-col {
    background: #2f3136;
    padding: 0px;

    h4 {
      padding: 0px;
    }

    .description {
      line-height: 24px;
    }

    .chat-img {
      width: 100%;
    }

    .name-description {
      padding: 20px;
    }
  }
}

#chatbox {
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex-grow: 1;
  overflow: auto !important;
  height: 70vh;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.chat-message-form {
  position: relative !important;
  width: 95% !important;
}

.chat-message-form input {
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.submit {
  height: 50px;
  border: none;
  margin-left: -6px;
  border-radius: 0px 40px 40px 0px !important;
  position: absolute;
  top: 0px;
  left: 99.9%;
  height: 60px !important;
  border: none !important;
  background: var(--green);
  opacity: 0.5;

  &:hover {
    background: var(--green) !important;
  }
}

.user-list {
  display: block;
  margin-bottom: 10px;
}

#username {
  font-weight: 600;
  //font-size: small;
}

.username-current {
  color: var(--green);
}

#message-content {
  color: rgba(255, 255, 255, 0.7);
}

#message_body {
  background: #464a55;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
  border: none;
  border-radius: 40px 0px 0px 40px;
}

.message:hover {
  background: rgba(255, 255, 255, 0.03);
}

.message-input::-webkit-input-placeholder {
  vertical-align: middle;
}

.current-chat {
  border: 3px solid var(--lavender);
  border-radius: 50%;
}

// NEW CHATROOM PAGE
#create-community {
  border-radius: 8px;
  background: var(--green);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7);
  padding: 30px;
  width: 100%;
  color: white;
  height: fit-content;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 29%;
  border: 2px solid white;
  transition: 0.5s;

  .list-categories {
    padding-left: 0px;
    text-align: center;
    margin-bottom: 0px;

    li {
      display: inline-block;
      background: white;
      color: var(--green);
      padding: 4px 10px;
      border-radius: 20px;
      margin-right: 4px;
      margin-top: 10px;
    }

    li:last-child {
      margin-right: 0px;
    }
  }
}
