#sidebar-col {
  background: #1c1b29;
  width: 17vw;
  display: flex;
  flex-direction: column;

  .menu {
    padding: 10px;
  }

  h4 {
    padding: 10px 10px 0px 10px;
    font-weight: bolder;
  }

  ul {
    padding-left: 0px;
  }

  ul li,
  .home-item {
    font-size: 15px;
    display: block;
    margin-top: 5px;
    cursor: pointer;
    padding: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .selected-cat {
    background: var(--lavender);
    color: white;
    padding: 14px;
    border-radius: 4px;
  }

  .home-item {
    background: var(--lavender);
    border-radius: 4px;
    color: white;
  }

  .unselected {
    background: none;
    color: rgba(255, 255, 255, 0.5);
  }
}

.user-info {
  position: fixed;
  bottom: 0px;
  background: #36393f;
  width: inherit;
  padding: 10px;
  font-weight: 600;

  .avatar-xs {
    position: relative;
  }

  .status {
    color: var(--green);
    font-size: 16px;
    position: absolute;
    left: 40px;
    bottom: 8px;
    border: 2px solid black;
    border-radius: 50%;
  }

  .settings {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}

#main-content-col {
  background: #292841;
  height: 100vh;
  padding: 40px 40px 0px;
  overflow: scroll;
  width: 83vw;
}

.home-page,
.chatroom-page {
  color: white;
}

.explore-more {
  p {
    font-weight: 600;
  }
  .compass {
    font-size: 34px;
  }
}

// NAVBAR //
nav a {
  color: white;
}
