#sidebar-col {
  background: #1c1b29;
  width: 17vw;
  display: flex;
  flex-direction: column;

  .menu {
    padding: 10px;
  }

  h4 {
    padding: 10px 10px 0px 10px;
    font-weight: bolder;
  }

  ul {
    padding-left: 0px;
  }

  ul li,
  .home-item {
    font-size: 15px;
    display: block;
    margin-top: 5px;
    cursor: pointer;
    padding: 10px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .selected-cat {
    background: var(--lavender);
    color: white;
    padding: 10px;
    border-radius: 4px;
  }

  .home-item {
    background: var(--lavender);
    border-radius: 4px;
    color: white;
  }

  .unselected {
    background: none;
    color: rgba(255, 255, 255, 0.5);
  }
}

.user-info {
  position: fixed;
  bottom: 0px;
  background: #202225;
  width: inherit;
  padding: 10px;
  font-weight: 600;

  .avatar-xs {
    position: relative;
  }

  .status {
    font-size: 18px;
    position: absolute;
    left: 40px;
    bottom: 8px;
    border: 3px solid #36393f;
    border-radius: 50%;
  }

  // STATUS //
  .status-online {
    color: var(--green);
  }

  .status-offline {
    color: rgba(255, 255, 255, 0.5);
  }

  .status-absent {
    color: orange;
  }

  .status-idle {
    color: purple;
  }

  .settings {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;

    &:hover {
      color: white;
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .link-profile {
    display: inline-block;
    transition: 0.3s;

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.clicked-settings {
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

#main-content-col {
  background: #292841;
  height: 100vh;
  padding: 40px 40px 0px;
  overflow: scroll;
  width: 83vw;
}

.home-page,
.chatroom-page {
  color: white;
}

.explore-more {
  p {
    font-weight: 600;
  }
  .compass {
    font-size: 34px;
  }
}

.new-user-online {
  background: var(--green);
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid white;
  transition: 0.5s;
}

.close-icon {
  font-weight: light;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.5;
  padding: 1px;
  border-radius: 50%;
  width: 30px;
  text-align: center;

  &:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.2);
  }
}

#chat-item:hover .white-border {
  height: 24px;
}

// NAVBAR //
nav a {
  color: white;
}
