<body id="signup-page">
    <div class="container">
        <h1 class="mt-5 signup-title">Sign up</h1>
        <div class="row justify-content-start mt-5">
            <div class="col-lg-6 col-sm-12 py-5 px-5" id="signup-col">
                <%= render 'users/form' %>
            </div>
        <div>
    </div>
</body>
