<div class="container">
    <h1 class="mt-5">Sign up</h1>
    <div class="row justify-content-center mt-5" id="signup-form">
        <div class="col-lg-6 col-sm-12 py-5 px-5 border-right">
            <%= render 'users/form' %>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <%= link_to 'Login', login_path, class: 'btn btn-primary w-25 sign-up-btn' %>
        </div>
    <div>
</div>
