.alert {
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.alert-success {
  background: var(--green) !important;
  color: white !important;
  border: none;
}

.alert-warning {
  background: #d1528d;
  color: white !important;
  border: none;
}
