.banner {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3) 100%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("https://miro.medium.com/max/3840/1*IpirmYjL3pYco0CO5TEQYw.png");
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
  transition: background-image 0.5s;
}

.banner-content {
  padding-top: 73px;
}

.banner-description {
  font-size: 18px;
}

// FORM
@import "form_banner";
