.banner {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3) 100%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(banner-background.jpg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
  transition: background-image 0.5s;
}

.banner-content {
  padding-top: 85px;
}

.banner-description {
  font-size: 18px;
}
