.latest-chat-card {
  width: 100%;
  border-radius: 8px;
  background: #36393f;
  margin-top: 40px;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
  height: 330px;
  padding: 20px;

  .card-content {
    margin-left: 30px;
  }

  .new-tag {
    display: inline-block;
    color: var(--lavender);
    border: 1px solid var(--lavender);
    padding: 10px 28px;
    border-radius: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }

  .card-tags {
    justify-content: end;
  }

  img {
    width: 40%;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 1);
  }
}
// NEWEST CHAT CARD CONTENT
.card-content {
  transition: transform 0.4s;

  .chat-name {
    font-size: 18px;
  }

  .chat-description {
    font-size: 16px;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 40px;
}

// CARDS FROM GRID
.chat-card {
  background: #36393f;
  border-radius: 8px;
  transition: all 0.4s;
  height: 100%;
  position: relative;

  .card-content {
    padding: 20px;
  }

  .chat-img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px 8px 0px 0px;
    height: 176px;
    object-fit: cover;
    object-position: center;
  }

  .avatar-sm {
    position: absolute;
    top: 40%;
    border: 4px solid #36393f;
    border-radius: 32%;
  }
}

.chat-card:hover,
.latest-chat-card:hover {
  background: #202225;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.card-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .message-tag,
  .category-tag {
    border: 1px solid #636363;
    padding: 5px 10px;
    margin-bottom: 0px;
    width: fit-content;
    border-radius: 18px;
    color: #dadada;
  }

  .message-tag,
  .category-tag {
    color: rgba(255, 255, 255, 0.5);
  }
}

.tick-icon {
  color: var(--green);
}

.result-card {
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  // border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 10px;

  .result-card-img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    height: 200px;
    max-width: 25%;
    border-radius: 8px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
  }

  .card-content {
    padding: 20px;
    width: 50%;

    .chat-name {
      color: white;
      font-weight: bolder;
    }

    .avatar-xs {
      border-radius: 32%;
    }
  }
}

// RESPONSIVENESS

@media (max-width: 1129px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 925px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
