.explore-page {
  .list-tags {
    padding-left: 0px;

    li {
      display: inline-flex;
      color: #ffffff4d;
      margin-right: 10px;
      margin-top: 10px;
      padding: 8px;
      border-radius: 8px;
      font-size: small;
      cursor: pointer;
      opacity: 0.3;
      transition: .3s;

      &:hover {
        opacity: 1;
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  li.selected-category {
    background: var(--lavender);
    color: white;
    opacity: 1;
    font-weight: 600;
  }
}