// Tailwind CSS
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// External styling
@import "bootstrap/scss/bootstrap";
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";

// Internal styling
@import "config/index";
@import "pages/index";
@import "components/index";

@media (max-width: 414px) {
  .banner {
    height: 22vh;
  }

  .cards {
    grid-template-columns: 1fr !important;
  }

  .chatroom-page {
    #main-content-col {
      height: 97vh;
    }
  }
}

@media (max-width: 1169px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .chatroom-page #main-content-col {
    height: 96vh;
  }

  .banner {
    height: 400px;
  }

  .banner-form-btn {
    right: 160px;
  }
  .result-card .result-card-img {
    max-width: 40%;
  }

  #sidebar-col {
    width: 21vw;
  }

  .chatroom-page #sidebar-col {
    width: 24vw;
  }

  #main-content-col {
    width: 79vw;
  }
  .chatroom-page #sidebar-nav {
    width: 9vw;
  }

  .chatroom-page #main-content-col {
    width: 67vw;
  }

  .chat-messages {
    height: 87vh;
  }

  .chat-message-form {
    width: 91% !important;
  }

  #create-community {
    width: 100% !important;
  }

  #login-page,
  #signup-page {
    background-size: cover;
  }

  .dropdown-user-status {
    left: 187px;
  }
}

@media (max-width: 990px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .dropdown-user-status {
    left: 191px;
  }

  .banner-form-btn {
    right: 119px;
  }

  #sidebar-col {
    width: 22vw;
  }

  #main-content-col {
    width: 78vw;
  }

  .banner {
    height: 386px;
  }

  .latest-chat-card {
    img {
      width: 45%;
    }
  }

  .chatroom-page {
    #main-content-col {
      height: 96.3vh;
      width: 67vw;
    }

    .chat-messages {
      height: 83vh;
    }

    #sidebar-col {
      width: 24vw;
    }

    #sidebar-nav {
      width: 9vw;
    }
  }

  .result-card {
    .result-card-img {
      max-width: 37%;
    }
  }

  .chat-message-form {
    width: 92% !important;
  }

  #create-community {
    width: 44% !important;
  }

  #login-page,
  #signup-page {
    background-size: auto;
  }
}
